<div class="container px-md-0">
  <h1 class="text-center display-2 font-weight-bold">About</h1><br>
  
  <h3 class="text-center font-weight-bold">
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。<br>
  </h3>
  
  <div class="text-center"><%= image_tag 'no_image.jpg',size:"600x300" %></div>
</div> 
